body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(216, 252, 145);
    color:black;
    font-size: 14px;
}

h1{
    border-bottom:4px dotted black;
    color: red;
    font-size: 16px;
}

h2{
    font-size: 14px;
    color: rgb(134, 37, 2);
}

a:link{
    color: darkcyan;
    font-size: 14px;
    font-weight: bold;
  
    text-decoration-style: double;
    
    
}
a:hover {
    background-color: orange;
    
  }

 figcaption{
     display: block;
     font-size: 14px;
     font-weight: bold;
 }
 figure{
     float: left;
 }

 img{
     margin: 5px;
 }

 video{
     margin: 5px;
     margin-top: 10px;
 }