* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 20px;
  font-size: 32px;
  text-align: center;
  background:rgb(116, 114, 114);
  color: white;
}

.footer {
  padding: 10px;
  text-align: center;
  background: rgb(167, 167, 167);
  color: white;
}

.navbar {
    float: left;
    flex: 30%;
  
    padding-top: 20px;
  
   height: fit-content;
   margin-bottom: 0px;
}

.navbar a {
  color: blue;
  font-size: 18x;
  display: flex;
  padding-top: 15px ;
  padding-bottom: 10px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color:rgb(252, 111, 59);
  width: fit-content;
  color:white;
  
}

.flexContainer {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.side {
  flex: 20%;
  background-color:rgb(247, 209, 140);
  padding: 20px;
}


.article {
  flex: 80%;
  background-color:rgb(240, 240, 149);
  padding: 20px;
}


figcaption{
  font-weight: bold;
}

h2{
  padding-top: 5px;
  font-size: 30px;
}

h3{
  padding-top: 50px;
  text-decoration: underline;
}
h4{
  padding-bottom: 20px;
  padding-left: 8px;
 text-decoration: underline;
 
  
}
p{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}

img{
  padding:1px;
}
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}



