.flexContainer{
    display: flex;
    background-color: rgb(250, 132, 132);
    align-content: space-between;
    flex-wrap: wrap;
}

.flexContainer > div, .flexcolumn > div {
    background-color: yellow;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    width: fit-content;
}

.flexcolumn{
    display: flex;
    background-color: red;
    flex-direction: column;
}

.box {
    float: right;
    width: 200px;
    margin: 10px;
    background-color: rgb(145, 240, 145);
    min-height: 400px;
}

header, footer{
    height: 50px;
    background-color: yellow;
}